<section class="mat-app-background signup-form">
  <form fxLayout="column"
        fxLayoutAlign="center center"
        fxLayoutGap="10px"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()">
    <mat-form-field>
      <label>
        <input type="email"
               matInput
               placeholder="Your e-mail"
               formControlName="email">
      </label>
      <mat-hint>Please enter a valid e-mail.</mat-hint>
      <mat-error>Invalid or missing e-mail.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input type="password"
               matInput
               placeholder="Your password"
               formControlName="password">
      </label>
      <mat-hint>Please enter a password</mat-hint>
      <mat-error>Missing password.</mat-error>
    </mat-form-field>
    <button type="submit"
            mat-raised-button
            color="primary"
            [disabled]="loginForm.invalid">
      Login
    </button>
  </form>
  <br>
</section>
