<h1>Check Out All the Great Deals!</h1>
<h2>Contact us today to snag these deals before they disappear</h2>


<div class="container1">
  <div class="imgWrapper">
    <img src="assets/img/London.jpg" alt="London" style="width:100%;">
    <div class="content">
      <h1>London!</h1>
      <p>Will you be able to have tea with the Queen? There is only one way to find out!!!</p>
      <p>Tampa to London: $600!!</p>
    </div>
  </div>
</div>


<div class="container1">
  <div class="imgWrapper">
    <img src="assets/img/Rio.jpg" alt="Rio" style="width:100%;">
    <div class="content">
      <h1>Rio De Janeiro!</h1>
      <p>Meet Christ the Redeemer in this wonderful city!</p>
      <p>Tampa to Rio: $800!!</p>
    </div>
  </div>
</div>



<div class="container1">
  <div class="imgWrapper">
    <img src="assets/img/NYC.jpg" alt="Notebook" style="width:100%;">
    <div class="content">
      <h1>New York City!</h1>
      <p>Come see this city where dreams are made and visit Broadway!</p>
      <p>Tampa to NYC: $350!!</p>
    </div>
  </div>
</div>

<div class="container1">
  <div class="imgWrapper">
    <img src="assets/img/Tokyo.jpg" alt="Tokyo" style="width:100%;">
    <div class="content">
      <h1>Tokyo!</h1>
      
      <p>Explore this concrete jungle and see all the wonderful sights! I hope Godzilla doesn't show up!</p>
      <p>Tampa to Tokyo: $1300!!</p>
    </div>
  </div>
</div>

<div class="container1">
  <div class="imgWrapper">
    <img src="assets/img/jamaica.jpg" alt="Jamaica" style="width:100%;">
    <div class="content">
      <h1>Jamaica!</h1>      
      <p>Explore the crystal blue waters and meet the wonderful locals in this tropical jewel!</p>
      <p>Tampa to Kingston: $180!!</p>
    </div>
  </div>
</div>


