<html>
<head>
  <title>Our Project Website</title>
</head>
<body>
  <header id="main-header">
    <div class="container">
      <h1>T.E.L. Travel Co.</h1>
    </div>
  </header>

  <nav id="navbar">
    <div class="container">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Sign-Up for travel deals</a></li>
        <li><a href="#">Top Deals today!</a></li>
        <li><a href="#">Hottest 2020 Travel Destinations</a></li>
      </ul>
    </div>
  </nav>

  <section id="showcase">
    <div class="container">
      <h1>We'll never TEL how we get our prices so low!</h1>
    </div>
  </section>
  <div class="container">
    <section id="main">
      <h1>Welcome!</h1>
      <p>
        Some fancy text about how great we are and who doesn't love to travel?
      </p>
    </section>
    <aside id="sidebar">
      <p>Don't take our word for it, here are some of the reviews from our many happy customers!:</p>
      <ul>
        <li> "Thanks to TEL, I was finally able to make it to Bali!" -Basic Betty</li>
        <li>"I always wanted to go to London to see where Paddington Bear lives!" - UnnamedBearFan26</li>
      </ul>
    </aside>
  </div>

  <footer id="main-footer">
    <p>Created by TravCo! TravCo, because it was free!</p>
  </footer>
</body>




</html>
